<li class="alert">
	<div class="alert_level"><div class="alert_level_{{level}}"><div>{{level}}</div></div></div>
	<div class="alert_time">{{time}}</div>
	<div class="alert_description">{{description}}</div>
</li>