<li class="alert">
	<div class="alert_level"><div class="alert_level_{{level_text}}"><div>{{level_text}}</div></div></div>
	<div class="alert_time">{{time_text}}</div>
	<div class="alert_description">{{description}}</div>
</li>